.title{
	width: 100%;
	margin: auto;
	padding: 110px 0 0 0;
	background-color: #202020;
}

.title__theme_grey{
	background-color:#272727;
	;
}

.title__header{
	max-width: 1140px;
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: 26,63px;
	color: #ffffff;
	padding-bottom: 23px;
	margin: auto;
	border-bottom: 1px solid #DADADA;
	text-align: left;
	}

	@media screen and (max-width: 768px){
		.title{
			padding: 90px 0 0 0;
		}
		.title__header{
			max-width: 668px;
		}
	}

	@media screen and (max-width: 320px){
		.title{
			padding-top: 70px;
		}
		.title__header{
			max-width: 284px;
			font-size: 18px;
			line-height: 21,8px;
		}
	}