.sign-in{
	background-color: #202020;
	height: 100vh;
}

.sign-in__button{
	border-style: none;
	border-radius: 3px;
	width: 396px;
	height: 45px;
	background-color: #4285F4;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	margin: 10px 0 16px 0;
	transition: opacity .3s ease-in-out;
}

.sign-in__button:hover{
	cursor: pointer;
	opacity: 0.8;
	transition: opacity .3s ease-in-out;
}
.sign-in_button_disable{
	background-color: #F8F8F8;
	color: #C2C2C2;
}

.sign-in__err{
	font-size: 10px;
	font-weight: 400;
 color: #FF3055;
	text-align: center;
	margin: 0;
	margin-top: 179px;

}

.sign-in__erorr-field{
	font-size: 10px;
	font-weight: 400;
 color: #FF3055;
 text-align: left;
}

@media screen and (max-width: 400px){
 .sign-in__button{
		width: 260px;
	}
}