.input-item{
	display: flex;
	flex-direction: column;
	width: 396px;
	margin-top: 24px;
}

.input-item__name{
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	line-height: 12px;
	color: #8B8B8B;
	text-align: left;
	margin-bottom: 5px;
}

.input-item__field{
	border-style: none;
	height: 28px;
 border-bottom: 1px solid #424242;
	font-size: 14px;
	font-weight: 400;
	padding-left: 10px;
	outline: none;
	background-color: #202020;
	color:#ffffff;
	}

@media screen and (max-width: 320px){
	.input-item{
		width: 260px;
	}
}
